.mySlides_LGKS, .mySlides_Influence {
  display: none !important;
}
/* Position the container so buttons stay inside */
.slideshow-container {
  position: relative;
  display: block;
  width: 100%;
}
