---
---
<!-- _layouts/bib_seminars.html -->
  <div class="row">
     <div class="col-sm-2 abbr">
       <a href="{{entry.url}}">
          <abbr class="badge">{{entry.abbr}}</abbr>
       </a>
     </div>

     <div class="col-sm-8">
          <div class="title"><strong>{{entry.title}}</strong></div>
          {%- if entry.eventtitle %}
           {%- capture entryevent -%}{{ "  " }}<em>{{ entry.eventtitle }}</em>{%- endcapture -%}
		{%- else -%}
           {%- capture entryevent -%}{{ }}{{ }}{%- endcapture -%}
          {%- endif -%}
          {%- if entry.location %}
            {%- capture entrylocation -%}{{ ", " }}{{ entry.location }}{%- endcapture -%}
		{%- else -%}
            {%- capture entrylocation -%}{{ }}{%- endcapture -%}
          {%- endif -%}
          {%- if entry.date %}
            {%- capture entrydate -%}{{ ", " }}{{ entry.date }}{%- endcapture -%}
		{%- else -%}
            {%- capture entrydate -%}{{ }}{%- endcapture -%}
          {%- endif -%}
          {%- if entry.year -%}
            {%- capture entryyear -%}{{ " " }}{{entry.year}}{%- endcapture -%}
          {%- endif -%}
          {%- capture seminar -%}{{entryevent}}{{ entrylocation}}{{ entrydate}}{{ entryyear }}{%- endcapture -%}
          <div class="seminar">
            {{ seminar | strip }}
          </div>        

          <!-- Links/Buttons -->
          <div class="links">
          {%- if entry.pdf %}
            {% if entry.pdf contains '://' -%}
               <a href="{{ entry.pdf }}" class="btn btn-sm z-depth-0" role="button">Slides</a>
            {%- else -%}
               <a href="{{ entry.pdf | prepend: '/assets/pdf/' | relative_url }}" class="btn btn-sm z-depth-0" role="button">Slides</a>
            {%- endif %}
          {%- endif %}
          {%- if entry.url %}
            <a href="{{ entry.url }}" class="btn btn-sm z-depth-0" role="button">Link to Event</a>
          {%- endif %}
          </div>

        </div>
  </div>
